---
import Layout from "@layouts/Layout.astro";
import MissingDataWarning from "@components/MissingDataWarning.astro";
import RepositoryCard from "@components/RepositoryCard.astro";
import type { Repository } from "@types";

const { host, owner } = Astro.params;

if (!host || !owner) return Astro.redirect("/");

const res = await fetch(`https://api.gitarchived.org/${host}/${owner}`).then(
  (res) => res.json() as Promise<{ results: Repository[]; status: number }>,
);

const { results, status } = res;

if (status !== 200) return Astro.redirect("/");
---

<Layout title={`${owner} - ${host}`} navbar footer>
  <div class="px-6">
    <div class="m-auto flex max-w-screen-lg flex-col gap-6 py-6">
      {results.map((data) => (
        <RepositoryCard repository={data} />
      ))}
    </div>
  </div>
  <MissingDataWarning />
</Layout>
