---
import type { Repository } from "../types";

interface Props {
  repo: Repository;
}

const { repo } = Astro.props;
---

<a href={`/r/${repo.host}/${repo.owner}/${repo.name}`}>
  <div class="mb-4 space-y-6 rounded-md bg-stone-900 p-4 text-white shadow-md">
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-bold">
        {repo.owner}/{repo.name}
      </h1>
      <span class="text-sm text-stone-500">
        {repo.deleted ? "Deleted" : "Active"}
      </span>
    </div>

    <button class="mt-2 w-full rounded-md bg-stone-700 px-4 py-2 text-white hover:opacity-80">
      View More
    </button>
  </div>
</a>
