---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import type { Repository } from "../../types";
import RepositoryCard from "../../components/RepositoryCard.astro";

const query = Astro.url.searchParams.get("q");

if (!query) return Astro.redirect("/");

const res = await fetch(`https://api.gitarchived.org/search?q=${query}`).then(
  (res) => res.json() as Promise<{ results: Repository[] }>,
);

const { results } = res;
---

<Layout title={`${query}`}>
  <Navbar query={query} />
  {
    results ? (
      <main class="px-6">
        <div class="m-auto flex max-w-screen-lg flex-col gap-6 py-6">
          {results.map((repo) => (
            <RepositoryCard repository={repo} />
          ))}
        </div>
      </main>
    ) : (
      <div class="space-y-4 p-4 text-center">
        <h1 class="text-center text-4xl font-bold">fatal: repository '{query}' not found</h1>
        <p>
          As today, no one has archived this repository. <br />
          <a href="new" class="italic">
            Be the first one to archive it!
          </a>
        </p>
      </div>
    )
  }
  <Footer />
</Layout>
