---
import Layout from "@layouts/Layout.astro";
import Add from "@components/Add.svelte";
import type { Repository } from "@types";
import SearchResults from "@components/SearchResults.svelte";
import MissingDataWarning from "@components/MissingDataWarning.astro";

const query = Astro.url.searchParams.get("q");
const i = Astro.url.searchParams.get("i");

const index = Number(i) > 1 ? Number(i) : 1;

if (!query) return Astro.redirect("/");

const res = await fetch(`https://api.gitarchived.org/search?q=${query}&index=${index}`).then(
  (res) => res.json() as Promise<{ results: Repository[]; continue: boolean }>,
);

const { results } = res;
---

<Layout title={`${query}`} navbar footer {query}>
  {
    results ? (
      <div class="px-6">
        <div class="m-auto flex max-w-screen-lg flex-col gap-6 py-6">
          <SearchResults
            client:load
            repositories={res.results}
            lastPage={!res.continue}
            {query}
            {index}
          />
        </div>

        <noscript>
          {(res.continue || index > 1) && (
            <div class="flex items-center justify-center gap-2 p-6">
              {Array.from({ length: index }).map((_, i) => (
                <a href={`?q=${query}&i=${i + 1}`}>
                  <span class="rounded border border-stone-50/10 bg-stone-900 px-4 py-1 font-semibold hover:opacity-75">
                    {i + 1}
                  </span>
                </a>
              ))}

              {res.continue && (
                <a
                  href={`?q=${query}&i=${index + 1}`}
                  class="rounded border border-stone-50/10 bg-stone-900 px-4 py-1 font-semibold hover:opacity-75"
                >
                  next
                </a>
              )}
            </div>
          )}
        </noscript>

        <MissingDataWarning />
      </div>
    ) : (
      <div class="space-y-4 p-6 py-8 text-center">
        <h1 class="text-center text-4xl font-bold">We searched far and wide...</h1>
        <p>As of today, no one has archived this repository.</p>
        <Add buttonText="Archive it yourself." client:load />
      </div>
    )
  }
</Layout>
