---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Navbar from "../../components/Navbar.astro";
import type { Repository } from "../../types";

const query = Astro.url.searchParams.get("q");

if (!query) return Astro.redirect("/");

const res = await fetch(`https://api.gitarchived.org/search?q=${query}`).then(
  (res) => res.json() as Promise<{ results: Repository[] }>,
);

const { results } = res;
---

<Layout title={`${query}`}>
  <Navbar query={query} />
  {
    results ? (
      <main class="h-screen">
        <div class="gap-4 p-4 md:grid md:grid-cols-4">
          {results.map((result) => (
            <Card repo={result} />
          ))}
        </div>
      </main>
    ) : (
      <div class="space-y-4 p-4 text-center">
        <h1 class="text-center text-4xl font-bold">fatal: repository '{query}' not found</h1>
        <p>
          As today, no one has archived this repository. <br />
          <a href="new" class="italic">
            Be the first one to archive it!
          </a>
        </p>
      </div>
    )
  }
</Layout>
